fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
asyncpg
passlib[bcrypt]
python-jose[cryptography]
langchain
langgraph-checkpoint-postgres 
psycopg[binary]
langchain-ollama
openpyxl
tzdata
pgvector
